<div class = "container">
  <div class = "row">
    <h3>マイページ</h3>
    <div>
      <%= link_to "お届け先一覧", addresses_path, class: "btn btn-info ml-5" %>
      <%= link_to "注文履歴一覧", orders_path, class: "btn btn-info ml-5" %>
    </div>
    <div class = "col-lg-8 mx-auto">
      <table class = "table table-borderless bg-white">
        <tr>
          <th>名前</th>
          <td><%= @customer.last_name %></td>
          <td><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.last_name_kana %></td>
          <td><%= @customer.first_name_kana %></td>
         </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "情報を変更する",edit_customers_path, class:"btn btn-success" %></td>
          <td><%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
