<div class="container">
  <h3>原菜編集</h3>
  <div class = "col-4 offset-4 mt-5">
    <%= form_with model:@material, url:admin_material_path(@material),local:true do |f| %>
    <%= render 'layouts/error_messages', resource: f.object %>
      <div class="form-group form-inline">
        <%= f.label :name, "原菜名" %>
        <%= f.text_field :name, class: "form-control ml-2" %>
      </div>
      <%= f.submit '更新する', class: "btn btn-success" %>
    <% end %>
  </div>
</div>