<div class = "row border-bottom h5">
  <strong class = "my-auto">原菜別で見る</strong>
  <% materials.each do |material| %>
    <%= link_to admin_items_search_path(:id=> material.id) do %>
        <span class = "btn btn-secondary ml-1"><%= material.name %></span>
    <% end %>
  <% end %>
  <%= link_to "全ての商品", admin_items_path, class: "btn btn-secondary ml-1" %>
</div>
<div class = "row">
  <div class = "col-lg-10 mx-auto mt-1">
    <table class = "table table-bordered text-center">
      <tr style = "background-color:rgba(213,219,219,0.50);">
        <th class = "col-2">商品名</th>
        <th class = "col-1">内容量</th>
        <th class = "col-3">税抜き価格(税込)</th>
        <th class = "col-2">販売ステータス</th>
        <th class = "col-2"></th>
      </tr>
        <% items.each do |item| %>
          <tr class = "bg-white">
            <td><%= item.name %></td>
            <td><%= item.capacity %></td>
            <td><%= item.price %>円<small>(<%= item.with_tax_price %>円)</small></td>
            <% if item.is_active %>
              <td class = "text-success">販売中</td>
            <% else %>
              <td class = "text-danger">販売停止中</td>
            <% end %>
            <td><%= link_to "商品詳細", admin_item_path(item.id), class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </table>
    <div>
      <%= paginate items %>
    </div>
  </div>
</div>