<div class = "container">
  <div class = "row">
    <h3 class = "title">商品登録</h3>
  </div>
  <div class = "row">
    <div class = "col-lg-8 mx-auto">
      <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
      <%= render 'layouts/error_messages', resource: f.object %>
        <table class = "table table-borderless">
          <tr class = "field">
            <th><%= f.label :image, "画像" %></th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr class = "field">
            <th><%= f.label :name, "商品名" %></th>
            <td><%= f.text_field :name, placeholder: "柚子香香　◯◯◯", class: "form-control" %></td>
          </tr>
          <tr class = "field">
            <th>原菜</th>
            <td><%= f.select :material_id, options_from_collection_for_select(Material.all, :id, :name), class:"form-control" %></td>
          </tr>
          <tr class = "field">
            <th><%= f.label :introduction, "商品説明" %></th>
            <td><%= f.text_area :introduction, placeholder: "◯月〜◯月　商品説明", rows:"5",class: "form-control" %></td>
          </tr>
          <tr class = "field">
            <th><%= f.label :capacity, "内容量" %></th>
            <td><%= f.text_field :capacity, placeholder: "◯◯◯g　◯個",class: "form-control" %></td>
          </tr>
          <tr class = "field">
            <th><%= f.label :price, "税抜価格" %></th>
            <td><%= f.text_field :price, placeholder: "◯◯◯　※税抜",class: "form-control" %></td>
          </tr>
          <tr class = "field">
            <th><%= f.label :is_active, "販売ステータス" %></th>
            <td>
              <div class = "radio_button">
                <%= f.radio_button :is_active, 'true' %>
                <%= f.label :is_active, '販売中', value: true %>
              </div>
              <div class = "radio_button">
                <%= f.radio_button :is_active, 'false' %>
                <%= f.label :is_active, '販売停止中', value: false %>
              </div>
            </td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "登録する", class: "btn btn-success" %></td>
            <td><%= link_to "商品一覧に戻る", admin_items_path, class: "btn btn-info" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
