<div class = "container">
  <div class = "row mt-5">
    <h3 class = "col-8"><%= @material.name %>のお漬物</h3>
    <div class = "col-4"><%= link_to "商品登録", new_admin_item_path, class: "btn btn-success" %></div>
  </div>
  <div class = "row border-bottom h5">
    <small>原菜別で見る</small>
    <% @materials.each do |material| %>
      <%= link_to admin_items_search_path(:id=> material.id) do %>
          <span class = "btn btn-secondary ml-1"><%= material.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class = "row">
    <div class = "col-lg-10 mx-auto mt-1">
    <table class = "table table-bordered">
      <tr class="active" style="background-color:rgba(213,219,219,0.50);">
        <th class = "col-2 text-center">商品名</th>
        <th class = "col-4 text-center">税抜き価格(税込)</th>
        <th class = "col-2 text-center">販売ステータス</th>
        <th class = "col-2 text-center"></th>
      </tr>
      <% @items.each do |item| %>
        <tr class = "bg-white">
          <td class = "text-center"><%= item.name %></td>
          <td class = "text-center"><%= item.price %>円<small>(<%= item.with_tax_price %>円)</small></td>
          <% if item.is_active %>
            <td class = "text-center text-success">販売中</td>
          <% else %>
            <td class = "text-center text-danger">販売停止中</td>
          <% end %>
          <td class = "text-center"><%= link_to "商品詳細", admin_item_path(item.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </table>
    <div>
    <%= paginate @items %>
    </div>
  </div>
</div>
