<div class = "container">
  <h3>会員情報編集</h3>
  <div class = "row">
    <div class = "col-lg-8 mx-auto">
      <%= form_with model:@customer, url:admin_customer_path, local:true do |f| %>
      <table class = "table table-borderless">
        <tr>
          <th>
            <%= f.label :name, "名前" %>
            <small class = "text-secondary"><%= f.label :last_name, "(姓)" %><%= f.label :first_name, "(名)" %></small>
          </th>
          <td><%= f.text_field :last_name, autofocus: true, class:"form-control" %></td>
          <td><%= f.text_field :first_name, class:"form-control" %></td>
        </tr>
        <tr>
          <th>
            <%= f.label :name_kana, "カナ" %>
            <small class = "text-secondary"><%= f.label :last_name_kana, "(セイ)" %><%= f.label :first_name_kana, "(メイ)" %></small>
          </th>
          <td><%= f.text_field :last_name_kana, class:"form-control" %></td>
          <td><%= f.text_field :first_name_kana, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :postal_code, "郵便番号" %></th>
          <td><%= f.text_field :postal_code, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :address, "住所" %></th>
          <td><%= f.text_field :address, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :telephone_number, "電話番号" %></th>
          <td><%= f.text_field :telephone_number, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :is_deleted, "会員ステータス" %></th>
          <td>
            <%= f.radio_button :is_deleted, 'false' %>
            <%= f.label :is_deleted, '有効', value: false %>
          </td>
          <td>
            <%= f.radio_button :is_deleted, 'true' %>
            <%= f.label :is_deleted, '退会済', value: true %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "変更する", class:"btn btn-success" %></td>
          <td><%= link_to "会員一覧へ",admin_customers_path, class:"btn btn-primary" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>