
<h3>注文詳細画面</h3>

<div>
  <table>
    <tr>
      <th>注文日時</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>お届け先名</th>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th>お届け先住所</th>
      <td>
        〒<%= @order.postal_code %><br>
        <%= @order.address %>
      </td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <td>
        <%= form_with model:@order, url:admin_order_path(@order), local:true do |f| %>
        <%= f.select :status, options_for_select(Order.statuses_i18n.invert, selected: f.object.status) %>
        <%= f.submit "更新" %>
      </td>
      <% end %>
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th>商品名</th>
      <th>税込価格</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.subtotal %></td>
      <td>
        <%= form_with model:order_detail, url:admin_order_detail_path(order_detail), local:true do |f| %>
        <%= f.select :making_status, options_for_select(OrderDetail.making_statuses_i18n.invert, selected: f.object.making_status) %>
        <%= f.submit "変更" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>