<div class = "container">
  <div class = "row">
    <h3 class = "title">未完了の注文一覧<small class = "ml-2 mt-2">全<%= @orders.where.not(status: 2).count %>件</small></h3>
  </div>
  <div class = "row mt-3">
    <div class = "col-lg-6">
      <h4>作成中一覧<small class = "ml-2"><%= @orders.where(status: 1).count %>件</small></h4>
      <% if @orders.where(status: 1).present? %>
        <table class = "table text-center">
          <tr style="background-color:rgba(213,219,219,0.50);">
            <th class = "col-1">注文日時</th>
            <th class = "col-2">注文者</th>
            <th class = "col-1">点数</th>
            <th class = "col-1"></th>
          </tr>
          <% @orders.where(status: 1).each do |order| %>
            <tr class = " bg-white">
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= order.customer.last_name %><%= order.customer.first_name %><small>さん</small></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= link_to "詳細へ",admin_order_path(order), class: "btn btn-info btn-sm" %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h5>現在作成中の注文はありません。</h5>
      <% end %>
    </div>
    <div class = "col-lg-6">
      <h4>未入金者一覧<small class = "ml-2"><%= @orders.where(status: 0).count %>件</small></h4>
      <% if @orders.where(status: 0).present? %>
        <table class = "table text-center">
          <tr style="background-color:rgba(213,219,219,0.50);">
            <th class = "col-1">注文日時</th>
            <th class = "col-2">注文者</th>
            <th class = "col-2">支払い方法</th>
            <th class = "col-1"></th>
          </tr>
          <% @orders.where(status: 0).each do |order| %>
            <tr class = " bg-white">
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
              <td><%= order.payment_method_i18n %></td>
              <td><%= link_to "詳細へ",admin_order_path(order), class: "btn btn-info btn-sm" %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h5>現在入金待ちの注文はありません。</h5>
      <% end %>
    </div>
  </div>
</div>