<div class = "container">
  <h3>本日の通販営業情報</h3>
  <div class = "row bg-white">
    <div class = "col-6">
      <table class = "table">
        <tr>
          <th>本日の注文件数</th>
          <td><%= @today_orders.count %>件</td>
        </tr>
        <tr>
          <th>本日の注文数量</th>
          <td><%= @today_order_details.sum(:amount) %>点</td>
        </tr>
        <tr>
          <th>本日の売上額（税込）<small>※送料込</small></th>
          <td>
            <%= @today_orders.sum(:total_payment) %>円
            <small>(うち送料<%= @today_orders.sum(:shipping_cost) %>円)</small>
          </td>
        </tr>
      </table>
    </div>
    <div class = "col-6">
      <table class = "table">
        <tr>
          <th>未完了の注文件数</th>
          <td><%= @orders.where.not(status: 2).count %>件</td>
        </tr>
        <tr>
          <th>入金待ち件数</th>
          <td><%= @orders.where(status: 0).count %>件</td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "未完了の注文一覧へ", admin_information_path, class: "btn btn-info btn-lg" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "row">
    <h5 class = "mt-5 col-6">直近１ヶ月の通販営業情報</h5>
    <h5 class = "mt-5 col-6">直近１ヶ月の売り上げグラフ</h5>
  </div>
  <div class = "row">
    <div class = "col-6">
      <table class = "table bg-white">
        <tr>
          <th>1ヶ月の注文件数</th>
          <td><%= @for30day_orders.count %>件</td>
        </tr>
        <tr>
          <th>1ヶ月の注文数量</th>
          <td><%= @for30day_order_details.sum(:amount) %>点</td>
        </tr>
        <tr>
          <th>1ヶ月の売上額（税込）<small>※送料込</small></th>
          <td>
            <%= @for30day_orders.sum(:total_payment) %>円
            <small>(うち送料<%= @for30day_orders.sum(:shipping_cost) %>円)</small>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "過去の売り上げ", admin_report_path, class: "btn btn-info btn-lg" %></td>
        </tr>
      </table>
    </div>
    <div class = "col-6 bg-white">
      <%= column_chart @orders.group_by_day(:created_at, last: 30).sum(:total_payment), xtitle: "日付", ytitle: "円"%>
    </div>
  </div>
</div>