<div class = "container">
  <div class = "row">
    <h3 class = "title">注文履歴一覧</h3>
  </div>
  <div class = "row">
    <div class = "col-10 offset-1">
  <table class = "table table-bordered">
    <tr class="active" style="background-color:rgba(213,219,219,0.50);">
      <th class = "col-1 text-center">注文日時</th>
      <th class = "col-2 text-center">注文者名</th>
      <th class = "col-2 text-center">注文者TEL</th>
      <th class = "col-1 text-center">数量</th>
      <th class = "col-2 text-center">注文ステータス</th>
      <th class = "col-2 text-center"></th>
    </tr>
    <% @orders.each do |order| %>
    <tr class = "bg-white">
      <td class = "text-center"><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td class = "text-center">
        <%= link_to admin_customer_path(order.customer_id) do %>
          <p class = "text-blue"><%= order.customer.last_name %><%= order.customer.first_name %><small>さま</small></p>
        <% end %>
      </td>
      <td class = "text-center"><%= order.customer.telephone_number %></td>
      <td class = "text-center"><%= order.order_details.sum(:amount) %>点</td>
      <td class = "text-center"><%= order.status_i18n %></td>
      <td class = "text-center"><%= link_to "注文詳細へ",admin_order_path(order), class: "btn btn-info btn-sm" %></td>
    </tr>
    <% end %>
  </table>
  <div>
    <%= paginate @orders %>
  </div>
</div>