<div class = "container">
  <div class = "row">
    <h3>宛先一覧</h3>
  </div>
  <div>
    <table class = "table table-bordered">
      <tr class="active" style="background-color:rgba(213,219,219,0.50);">
        <th class = "col-2 text-center">名前</th>
        <th class = "col-2 text-center">郵便番号</th>
        <th class = "col-4 text-center">住所</th>
        <th class = "col-2 text-center"></th>
        <th class = "col-2 text-center"></th>
      </tr>
      <% @addresses.each do |address| %>
      <tr class = "bg-white">
        <td class = "text-center"><%= address.name %></td>
        <td class = "text-center"><%= address.postal_code %></td>
        <td class = "text-center"><%= address.address %></td>
        <td class = "text-center"><%= link_to "変更する", edit_address_path(address), class:"btn btn-success" %></td>
        <td class = "text-center"><%= link_to "削除する", address_path(address), method: :delete, data: {confirm: '本当に削除してよろしいですか？'}, class:"btn btn-danger" %></td>
      </tr>
      <% end %>
    </table>
    <div>
      <%= paginate @addresses %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-8 mx-auto">
      <h5>新規登録</h5>
      <%= render "public/addresses/info", address: @address %>
    </div>
  </div>
</div>