<div class = "container">
  <div class = "row">
    <h3 class = "title">注文確認画面</h3>
  </div>
  <div class = "row">
    <div class = "col-lg-6 mx-auto">
      <table class = "table table-borderless bg-white">
        <tr>
          <th class = "col-2">お届け先名</th>
          <td class = "col-4"><%= @order.name %></td>
        </tr>
        <tr>
          <th>お届け先住所</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-6">
      <table class = "table table-bordered text-center">
        <tr style = "background-color:rgba(213,219,219,0.50);">
          <th class = "col-2"></th>
          <th class = "col-3">商品名</th>
          <th class = "col-2">価格（税込）</th>
          <th class = "col-2">数量</th>
          <th class = "col-3">小計</th>
        </tr>
        <% @item_total = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr class = "bg-white">
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 30, 30, fallback: "no_image.png", size: '30x30' %></td>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.with_tax_price %>円</td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %>円</td>
          </tr>
          <% @item_total += cart_item.subtotal %>
        <% end %>
      </table>
    </div>
    <div class = "col-lg-5 col-offset-1 my-auto">
      <table class = "table table-borderd bg-white">
        <tr>
          <th class = "col-5">支払い方法</th>
          <td class = "col-7"><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th>商品合計金額(税込)</th>
          <td><%= @item_total %>円</td>
        </tr>
        <tr>
          <th>請求合計金額(税込)</th>
          <td class = "h4"><%= @order.shipping_cost + @item_total.to_i %>円</td>
        </tr>
      </table>
      <div>
        <%= form_with model:@order, url:orders_path, local:true do |f| %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :shipping_cost %>
          <%= f.hidden_field :total_payment, :value =>[@order.shipping_cost + @item_total.to_i] %>
          <div class = "h4">
            <%= f.label :remark, "備考欄" %>
            <%= f.text_area :remark, placeholder: "ご希望等ございましたらご自由にご記入ください。　　　※お電話にてご相談させていただく場合がございます。", rows:"5",class: "form-control" %>
          </div>
          <div class = "text-center">
            <%= f.submit "注文を確定する", class: "btn btn-success btn-lg mt-1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
