<div class = "container">
  <div class = "row">
    <h3 class = "title">注文確認画面</h3>
  </div>
  <div class = "row">
    <table class = "table table-bordered mt-5">
      <tr class="active" style="background-color:rgba(213,219,219,0.50);">
        <th>商品名</th>
        <th>価格（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <% @item_total = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr class = "bg-white">
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
        </tr>
        <% @item_total += cart_item.subtotal %>
      <% end %>
    </table>
  </div>
  <div class = "row">
    <div class = "col-6">
      <table class = "table table-borderd mt-5 bg-white">
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @item_total %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= @order.shipping_cost + @item_total.to_i %></td>
        </tr>
      </table>
    </div>
    <div class = "col-6 my-auto">
      <%= form_with model:@order, url:orders_path, local:true do |f| %>
      <div class = "ml-5">
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :total_payment, :value =>[@order.shipping_cost + @item_total.to_i] %>
        <%= f.submit "注文を確定する", class: "btn btn-success btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
