<div class = "container">
  <div class = "row">
    <h3 class = "title">注文履歴詳細</h3>
  </div>
  <div class = "row">
    <div class = "col-lg-6 mx-auto">
      <table class = "table table-borderless bg-white">
        <tr>
          <th>注文日時</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        <tr>
          <th>お届け先名</th>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <th>お届け先住所</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-8">
      <table class = "table table-bordered">
        <tr class="active" style="background-color:rgba(213,219,219,0.50);">
          <th class = "col-2 text-center">商品名</th>
          <th class = "col-2 text-center">購入時価格（税込）</th>
          <th class = "col-2 text-center">数量</th>
          <th class = "col-2 text-center">小計</th>
        </tr>
        <% @order_details.each do |order_detail| %>
          <tr class = "bg-white">
            <td class = "text-center"><%= order_detail.item.name %></td>
            <td class = "text-center"><%= order_detail.price %>円</td>
            <td class = "text-center"><%= order_detail.amount %>個</td>
            <td class = "text-center"><%= order_detail.subtotal %>円</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class = "col-lg-4">
      <table class = "table bg-white">
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <th>請求金額（税込）</th>
          <td><%= @order.total_payment %>円</td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
      <div class = "bg-white" >
        <% if @order.remark.blank? %>
          <h5>備考欄に記入はありませんでした。</h5>
        <% else %>
          <h5 style="background-color:rgba(213,219,219,0.50);">備考欄にご記入いただいた内容</h5>
          <%= @order.remark %>
        <% end %>
      </div>
    </div>
   </div>
  <div class = "link d-flex justify-content-center">
    <%= link_to "注文一覧に戻る", orders_path, class: "btn btn-primary" %>
  </div>
</div>