<div class = "container">
  <h3 class = "title my-3">商品一覧<small class = "text-muted">（全<%= @items.count %>件）</small></h3>
  <div class="item d-flex align-content-between flex-wrap">
    <% @items.each do |item| %>
      <div class = "col-6 d-flex mb-5">
        <div class = "col-6"><%= attachment_image_tag item, :image, size: "240x180" %></div>
        <div class = "col-6">
          <h4 class ="item-name"><%= item.name %></h4>
          <h4 class ="item-material"><%= item.material.name %></h4>
          <h4 class ="item.price my-4 ml-2"><%= item.price %>円<small>（税込<%= item.with_tax_price %>円）</small></h4>
          <%= link_to "詳細へ", item_path(item), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>