<header class = "header" style="background-color:rgba(255,239,15,1);">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin"><span><%= image_tag 'logo.png', :size =>'280x70', class: "img-fluid" %></span></a>
      <% else %>
        <a class="navbar-brand" href="/"><span><%= image_tag 'logo.png', :size =>'280x70', class: "img-fluid" %></span></a>
      <% end %>
      <div class = "mt-5">
        <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/explore/locations/273444237/japan/kyoto-japan/?hl=ja" style="color:green;"></a>
        <a class="fab fa-facebook-square fa-2x ml-3" href="https://www.facebook.com/sagatsukemonoyamajo" style="color:green;"></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class = "nav-item"><%= link_to '商品一覧', admin_items_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '会員一覧', admin_customers_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '注文一覧', admin_root_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '原菜一覧', admin_materials_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
        <% elsif customer_signed_in? %>
          <li class = "nav-item"><%= link_to 'マイページ', customers_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'カート内商品', cart_items_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '店舗概要', about_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'お問い合わせ', inquiry_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
        <% else %>
          <li class = "nav-item"><%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '店舗概要', about_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'お問い合わせ', inquiry_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-dark' %></li>
          <li class = "nav-item"><%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>