<!DOCTYPE html>
<html>
  <head>
    <title>YAMAJOSagatsukemono</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/448938d6cc.js" crossorigin="anonymous"></script>
    
    <!--<link rel="stylesheet" href="jquery.bxslider.css">-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" /></script>-->
    <!--<script src="jquery.bxSlider.min.js"></script>-->
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/notifications' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
